@using HotelUI.Models.Contact
@model PaginatedResponse<ContactListItemDetailResponse>

@{
    ViewData["Title"] = "Index";
    int order = (Model.PageIndex - 1) * Model.PageSize;
}

<!-- Begin Page Content -->
<div class="content-wrapper">
    <div class="container">
        <div class="row mb-4">
            <div class="col-12 text-center">
                <h3 class="page-heading mb-4">Contact Management</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Subject</th>
                                <th scope="col">Message</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Items)
                            {
                                <tr>
                                    <th scope="row">@(++order)</th>
                                    <td>@item.FullName</td>
                                    <td>@item.Email</td>
                                    <td>@item.Subject</td>
                                    <td>@item.Message</td>
                                    <td>
                                        <a class="btn btn-warning btn-sm" asp-action="contactMessageAdmin" asp-route-id="@item.Id">
                                            <i class="fas fa-envelope mr-2"></i> Message
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <nav aria-label="Pagination" class="d-flex justify-content-center mt-4">
                    <ul class="pagination">
                        @if (Model.PageIndex == 1)
                        {
                            <li class="page-item disabled">
                                <span class="page-link">Previous</span>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link" asp-route-page="@(Model.PageIndex-1)">Previous</a>
                            </li>
                        }

                        @for (int i = 1; i <= Model.TotalPages; i++)
                        {
                            if (Model.PageIndex == i)
                            {
                                <li class="page-item active" aria-current="page">
                                    <span class="page-link">@i</span>
                                </li>
                            }
                            else
                            {
                                <li class="page-item"><a class="page-link" asp-route-page="@i">@i</a></li>
                            }
                        }
                        @if (Model.PageIndex == Model.TotalPages)
                        {
                            <li class="page-item disabled">
                                <span class="page-link">Next</span>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link" asp-route-page="@(Model.PageIndex+1)">Next</a>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
}

