@using HotelUI.Models.Room

@model RoomUpdateRequest
@{
    ViewData["Title"] = "Create";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Room</h1>
    </div>
    <div class="row">
        <div class="col-md-8 mx-auto">
            <form class="user" asp-action="edit" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="Name">Name</label>
                    <input asp-for="Name" class="form-control" id="Name" placeholder="Enter No here..">
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
                <div class="form-group">
                    <label for="Price">Price</label>
                    <input asp-for="Price" class="form-control" id="Price" placeholder="Enter No here..">
                    <span class="text-danger" asp-validation-for="Price"></span>
                </div>
                <div class="form-group">
                    <label for="Description">Description</label>
                    <input asp-for="Description" class="form-control" id="Description" placeholder="Enter No here..">
                    <span class="text-danger" asp-validation-for="Description"></span>
                </div>
                <div class="form-group">
                    <label for="Area">Area</label>
                    <input asp-for="Area" class="form-control" id="Area" placeholder="Enter No here..">
                    <span class="text-danger" asp-validation-for="Area"></span>
                </div>
                <div class="form-group">
                    <label for="MaxAdultsCount">MaxAdultsCount</label>
                    <input asp-for="MaxAdultsCount" class="form-control" id="MaxAdultsCount" placeholder="Enter No here..">
                    <span class="text-danger" asp-validation-for="MaxAdultsCount"></span>
                </div>
                <div class="form-group">
                    <label for="MaxChildrenCount">MaxChildrenCount</label>
                    <input asp-for="MaxChildrenCount" class="form-control" id="MaxChildrenCount" placeholder="Enter No here..">
                    <span class="text-danger" asp-validation-for="MaxChildrenCount"></span>
                </div>



               
               










                <div class="form-group">
                    <label asp-for="BranchId" class="control-label"></label>
                    <select asp-for="BranchId" class="form-control" asp-items="@(new SelectList(ViewBag.Branches,"Id","Name"))"></select>
                    <span class="text-danger" asp-validation-for="BranchId"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ServiceIds" class="control-label"></label>
                    <select asp-for="ServiceIds" multiple class="form-control" asp-items="@(new SelectList(ViewBag.Services,"Id","Name"))"></select>
                    <span class="text-danger" asp-validation-for="ServiceIds"></span>
                </div>


                <div class="form-group">
                    <label for="imgInput">imagefiles</label>
                    <input asp-for="Images" class="form-control imgInput" placeholder=" ">
                    @if (ViewBag.Images != null)
                    {
                        @foreach (var item in ViewBag.Images)
                        {
                            <div class="img-box mt-3 mr-3" style="display:inline-block;position:relative">
                                <span style="position: absolute;
                                                     right: -9px;
                                                     top: -22px;
                                                     font-size: 28px;
                                                     color: red;
                                                     cursor: pointer" class="remove-img-icon">x</span>
                                <input type="hidden" name="FlowerImageIds" value="@item.Id" />
                                <img width="200" src="@item.Image" />
                            </div>
                        }
                    }

                    <div class="preview-box">
                        <img width="200" class="previewImg" />
                    </div>
                    <span class="text-danger" asp-validation-for="Images"></span>
                </div>
                <button class="btn btn-outline-success" type="submit">
                    Edit
                </button>
                <a class="btn btn-outline-danger" asp-action="Index">Cancel</a>
            </form>
        </div>
    </div>
</div>

@section scripts {
    @Html.Partial("_ValidationScriptsPartial");
}
