@using HotelUI.Models.Review
@model PaginatedResponse<ReviewListItemDetailGetResponse>

@{
    ViewData["Title"] = "Index";
    int order = (Model.PageIndex - 1) * Model.PageSize;
}

<!-- Begin Page Content -->
<div class="content-wrapper">
    <h3 class="page-heading mb-4">Reviews</h3>
    <!-- Page Heading -->
    <div class="row">
        <div class="col-md-12 mx-auto">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Username</th>
                        <th scope="col">RoomName</th>
                        <th scope="col">Rate</th>
                        <th scope="col">Status</th>
                        <th scope="col">CreatedAt</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <th scope="row">@(++order)</th>
                            <td>@item.UserName</td>
                            <td>@item.RoomName</td>
                            <td>@item.Rate</td>
                            <td>@item.Status</td>
                            <td>@item.CreatedAt</td>
                            <td>
                                @if (item.Status == "Pending")
                                {
                                    <form method="post" asp-action="accept">
                                        <input type="hidden" name="id" value="@item.Id" />
                                        <button type="submit" class="btn btn-success">Accept</button>
                                    </form>
                                    <form method="post" asp-action="reject">
                                        <input type="hidden" name="id" value="@item.Id" />
                                        <button type="submit" class="btn btn-danger">Reject</button>
                                    </form>
                                }
                                <a class="btn btn-primary" asp-action="detail" asp-route-id="@item.Id">Detail</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <nav aria-label="..." class="d-flex justify-content-center">
                <ul class="pagination">
                    @if (Model.PageIndex == 1)
                    {
                        <li class="page-item disabled">
                            <span class="page-link">Previous</span>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" asp-route-page="@(Model.PageIndex-1)">Previous</a>
                        </li>
                    }

                    @for (int i = 1; i <= Model.TotalPages; i++)
                    {
                        if (Model.PageIndex == i)
                        {
                            <li class="page-item active" aria-current="page">
                                <span class="page-link">@i</span>
                            </li>
                        }
                        else
                        {
                            <li class="page-item"><a class="page-link" asp-route-page="@i">@i</a></li>
                        }
                    }
                    @if (Model.PageIndex == Model.TotalPages)
                    {
                        <li class="page-item disabled">
                            <span class="page-link">Next</span>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" asp-route-page="@(Model.PageIndex+1)">Next</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>
</div>

@section scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
}
